[Unit]
Description=Foo

[Service]
WorkingDirectory=/vagrant/vote
ExecStart=/usr/bin/gunicorn app:app -b 0.0.0.0:80 --log-file - --access-logfile - --workers 4 --keep-alive 0

[Install]
WantedBy=multi-user.target
